<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='nyu-favicon.ico.png') }}" type="image/png" />
    <title>Privacy Policy</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <br/>
          <button onclick="window.history.back()">Back</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <h2>New York University Social Media and Political Participation Facebook Privacy Policy</h2>

          <p>It is your choice to share or not share information with New York University. This privacy policy describes how your participation is private and the information you would share is limited, secure, and confidential.</p>

          <p>If you agree to use this application, New York University will use it to collect data that you provide about yourself in your Facebook profile. Before you allow access, you can select which information you do or do not want to share with New York University.</p>

          <p>Data collected through this application will be downloaded to a secure location on a New York University server. Staff working in the Social Media and Political Participation Lab will use the data to produce statistical descriptions of how people use Facebook to learn and communicate about news and public affairs. After these statistical descriptions are created, your data collected through this application will be erased from New York University's files.</p>

          <p>If you authorize this application, the application will stop working after no more than two months. It will collect the information you approve right away, and may collect the information again before the application stops working. You can delete the application any time after you authorize it.</p>

          <p>Use of this application will not show up on your profile, your news feed, or appear to your friends. This application will not publish information on your news feed. This application will not access the profile information of any friends, groups, or other information associated with your profile page.</p>

          <p>New York University researchers will never see your password or login information, nor will we receive information about web sites you may visit.</p>

          <p>New York University will never use any information collected through this application to send you messages, advertisements, or any third party communication. Data collected through this application will be kept strictly confidential. New York University will not share or distribute any personally identifiable information collected by this application to with anyone else.</p>
      </div>
    </div>

      <hr>

      <footer>
        <!-- <p>&copy; New York University 2015</p> -->
        <!-- <p>&copy; New York University, National Public Life Survey 2016</p> -->
      </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>