database:
    host: ADDRESS
    port: PORT
    db: DATABASE_NAME
    username: USR_NAME
    password: PASSWORD

facebook:
    app_id: APP_ID
    app_secret: APP_SECRET
    permissions:
        - public_profile
        - user_friends
        - email
        - user_about_me
        - user_actions.books
        - user_actions.fitness
        - user_actions.music
        - user_actions.news
        - user_actions.video
        - user_birthday
        - user_education_history
        - user_events
        - user_games_activity
        - user_hometown
        - user_likes
        - user_location
        - user_photos
        - user_posts
        - user_relationships
        - user_relationship_details
        - user_religion_politics
        - user_tagged_places
        - user_videos
        - user_website
        - user_work_history

url: http://MY.APP.IS.SERVED.HERE
